[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	path = zsh/zgen
	url = https://github.com/tarjoilija/zgen.git
	path = cheat/community
	url = https://github.com/cheat/cheatsheets
[submodule "tmux/oh-my-tmux"]
	path = tmux/oh-my-tmux
	url = https://github.com/gpakosz/.tmux.git
